@using static Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20
@rendermode InteractiveServer

<div class="navmenu">
  <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
  <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Navigation())" Color="Microsoft.FluentUI.AspNetCore.Components.Color.Fill" /></label>
  <nav class="sitenav" aria-labelledby="main-menu">
    <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="expanded" CustomToggle="true">
      <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Home())" IconColor="Microsoft.FluentUI.AspNetCore.Components.Color.Accent">Home</FluentNavLink>
    </FluentNavMenu>
  </nav>
</div>

@code {
  private bool expanded = true;
}
